@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
}

:root {
  --background: oklch(0.98 0 248);
  --foreground: oklch(0.13 0.04 265);

  --card: oklch(0.93 0.01 256);
  --card-foreground: oklch(0.13 0.04 265);

  --popover: oklch(0.97 0.01 248);
  --popover-foreground: oklch(0.13 0.04 265);

  --primary: oklch(0.2 0.125 220);
  --primary-foreground: oklch(0.98 0 248);

  --secondary: oklch(0.93 0.01 256);
  --secondary-foreground: oklch(0.13 0.04 265);

  --muted: oklch(0.87 0.02 253);
  --muted-foreground: oklch(0.45 0.04 257);

  --accent: oklch(0.488 0.243 264.376);
  --accent-foreground: oklch(0.98 0 248);

  --destructive: oklch(0.65 0.2 25);
  --destructive-foreground: oklch(0.98 0 248);

  --border: oklch(0.71 0.04 257);
  --input: oklch(0.71 0.04 257);
  --ring: oklch(0.37 0.04 257);

  --radius: 0rem;
}

.dark {
  --background: oklch(0.13 0.04 265);
  --foreground: oklch(0.98 0 248);

  --card: oklch(0.13 0.04 265);
  --card-foreground: oklch(0.98 0 248);

  --popover: oklch(0.13 0.04 265);
  --popover-foreground: oklch(0.98 0 248);

  --primary: oklch(0.2 0.125 220);
  --primary-foreground: oklch(0.98 0 248);

  --secondary: oklch(0.28 0.04 260);
  --secondary-foreground: oklch(0.98 0 248);

  --muted: oklch(0.21 0.04 266);
  --muted-foreground: oklch(0.71 0.04 257);

  --accent: oklch(0.488 0.243 264.376);
  --accent-foreground: oklch(0.98 0 248);

  --destructive: oklch(0.65 0.2 25);
  --destructive-foreground: oklch(0.98 0 248);

  --border: oklch(0.21 0.04 266);
  --input: oklch(0.21 0.04 266);
  --ring: oklch(0.37 0.04 257);
}

@theme inline {
  --font-sans: var(--font-apercu-regular), sans-serif;
  --font-serif: var(--font-apercu-condensed), serif;
  --font-mono: var(--font-apercu-mono), monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@utility animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}
@utility animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}
@utility animate-fade-in {
  animation: fade-in 0.5s linear forwards;
}
@utility animate-marquee {
  animation: marquee var(--marquee-duration) linear infinite;
}
@utility animate-spin-slow {
  animation: spin 4s linear infinite;
}
@utility animate-spin-slower {
  animation: spin 6s linear infinite;
}
@utility animate-spin-reverse {
  animation: spin-reverse 1s linear infinite;
}
@utility animate-spin-reverse-slow {
  animation: spin-reverse 4s linear infinite;
}
@utility animate-spin-reverse-slower {
  animation: spin-reverse 6s linear infinite;
}
@utility animate-blob {
  animation: blob 7s infinite;
}
@utility tw-transition {
  @apply transition-all duration-300 ease-in-out;
}

@utility animated-underline {
  background-image:
    linear-gradient(#111827, #111827),
    linear-gradient(to right, #7dd3fc, #38bdf8);
  background-size:
    100% 2px,
    0 2px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}

@utility animated-underline-hover {
  background-size:
    0 2px,
    100% 2px;
}

@utility animated-underline-focus {
  background-size:
    0 2px,
    100% 2px;
}

@utility animated-underline-light {
  background-image:
    linear-gradient(#ffff, #ffff), linear-gradient(to right, #7dd3fc, #38bdf8);
  background-size:
    100% 2px,
    0 2px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}

@utility animated-underline-light-hover {
  background-size:
    0 2px,
    100% 2px;
}

@utility animated-underline-light-focus {
  background-size:
    0 2px,
    100% 2px;
}

@utility animation-delay-2000 {
  animation-delay: 2s;
}

@utility animation-delay-4000 {
  animation-delay: 4s;
}

@utility animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes marquee {
  100% {
    transform: translateY(-50%);
  }
}

@keyframes spin-reverse {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
